body{
    background-color: rgba(128, 167, 211, 0.877);
    text-align: center;

    

}
input {
    margin: 10px;
}
#cot {background-color: rgba(64, 118, 180, 0.486);
height: 400px;
width: 300px;
margin: 0 auto;

}